<div class="row">
<a ui-sref='singleCharacter'><div class="col-md-4 god">
	<img src="/images/AhMuzenCab.jpg" alt="">
	<h2>Ah Muzen Cab</h2>
	<img src="/images/Gems.png" alt=""><h3>200</h3>
</div>
</a>

<a ui-sref='singleCharacter'><div class="col-md-4 god">
	<img src="/images/Freya.jpg" alt="">
	<h2>Freya</h2>
	<img src="/images/Gems.png" alt=""><h3>100</h3>
</div>
</a>

<a ui-sref='singleCharacter'><div class="col-md-4 god">
	<img src="/images/Hercules.jpg" alt="">
	<h2>Hercules</h2>
	<img src="/images/Gems.png" alt=""><h3>150</h3>
</div>
</a>
</div>

<hr>

<div class="row">
<a ui-sref='singleCharacter'><div class="col-md-4 god">
	<img src="/images/Osiris.jpg" alt="">
	<h2>Osiris</h2>
	<img src="/images/Gems.png" alt=""><h3>300</h3>
</div>
</a>

<a ui-sref='singleCharacter'><div class="col-md-4 god">
	<img src="/images/Rama.jpg" alt="">
	<h2>Rama</h2>
	<img src="/images/Gems.png" alt=""><h3>250</h3>
</div>
</a>

<a ui-sref='singleCharacter'><div class="col-md-4 god">
	<img src="/images/Sobek.jpg" alt="">
	<h2>Sobek</h2>
	<img src="/images/Gems.png" alt=""><h3>400</h3>
</div>
</a>

</div>